<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b38ab088-6246-494c-ad61-7aa67a5d8fc9/resourceGroups/the-lemonade-stand_group/providers/Microsoft.ContainerRegistry/registries/crtls</ResourceId>
    <ResourceName>crtls</ResourceName>
    <ResourceGroup>the-lemonade-stand_group</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://crtls.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>v0.1.2</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>eaf42b56-037a-40aa-adcb-34f8f5c92522</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>